.main-sentence-counter-template{
    width: 100%;
    padding: 20px 0;
}
.main-sentence-counter-title{
    width: 100%;
    display: inline-block;
    text-align: center;
}
.main-sentence-counter-title h1{
    font-size: 30px;
    margin: 0;
    padding: 10px;
}
.dark_mode .main-sentence-counter-title h1 {
    color: #fff;
}
.dark_mode .main-sentence-counter-template{
    background-color: #000;
}
.main-sentence-counter-title p{
    font-size: 16px;
    display: block;
    margin-bottom: 15px;
}
.dark_mode .main-sentence-counter-title p{
    color: #fff;
}
.main-sentence-counter-wrapper{
    width: 80%;
    background-color: rgb(214 214 214 / 10%);
    padding: 20px;
    border-radius: 4px;
    margin: auto;
    border: 1px solid #d6d6d6;
}
.sentence-counter-input{
    margin-bottom: 10px;
}
.sentence-counter-input textarea{
    width: 100%;
    max-height: 200px;
    min-height: 200px;
    padding: 20px;
    font-size: 16px;
    border: 1px solid #CCC;
    border-radius: 10px;
    outline: none;
}
.sentence-counter-btn{
    text-align: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
}
.sentence-counter-btn button{
    font-size: 12px;
    padding: 7px 15px;
    text-transform: uppercase;
    border-radius: 2px;
    background: rgb(38, 170, 38);
    background: linear-gradient(118deg, rgb(61 29 122) 20%, rgb(29 152 148) 50%);
    color: #fff;
    cursor: pointer;
    border: none;
    letter-spacing: 2px;
}
.sentence-counter-output{
    width: 100%;
    margin: auto;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #d6d6d6;
    display: none;
}
.sentence-counter-output #result p{
    padding: 5px 10px;
}
.sentence-counter-output textarea{
    width: 100%;
    max-height: 200px;
    min-height: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #CCC;
    border-radius: 10px;
    outline: none;
}
.dark_mode .main-sentence-counter-box textarea{
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}
.main-sentence-counter-box textarea::placeholder {
    font-size: 13px;
}
@media only screen and (max-width: 880px) {
    .main-sentence-counter-wrapper{
        width: 100%;
        padding: 10px;
    }

}
@media only screen and (max-width: 680px) {
    .sentence-counter-input{

    }
    .sentence-counter-input textarea{
        padding: 10px;
        max-height: 150px;
        min-height: 150px;
    }
    .sentence-counter-output textarea{
        width: 100%;
        padding: 10px;
        max-height: 150px;
        min-height: 150px;
    }
    .sentence-counter-output{
        text-align: center;
    }
}